<div class="page">
  <div class="page-container">
    <div class="title-main" id="top">
      <div class="hello">Hello</div>
      <div class="wordle">Wordle!</div>
      <div class="line"></div>
      <div class="line-end"></div>
      <div class="title-sub">the ultimate wordle solver</div>
    </div>

    <div class="help-main">
      <details>
        <summary>How to use this solver?</summary>
        <div class="help-content">
          <div class="help-title">If your wordle looks like this:</div>
          <img alt="image of sample puzzle" src="/assets/sample_puzzle.png">

          <div class="help-title">Fill the Green section like this:</div>
          <div class="help-sub">(Since 'T' is green in the 4<sup>th</sup> position)</div>
          <img alt="how to fill the green section" src="/assets/help_green.png">

          <div class="help-title">Fill the Grey section like this:</div>
          <div class="help-sub">'ALE' from the first row. 'GI' from the second. You can type in any order. Even
            duplicate letters are ok.</div>
          <img alt="how to fill the green section" src="/assets/help_grey.png">

          <div class="help-title">Fill the Yellow section like this:</div>
          <div class="help-sub">'S' appears in the 1<sup>st</sup> position. So put it in P1. 'R' is in 2<sup>nd</sup>
            position, so put it in P2. 'T' and 'S' are in 5th position, so put them both in P5.</div>
          <div class="help-sub">For letters in same position, you can type them in any order. E.g.: you can type 'TS' or
            'ST' in P5.</div>
          <img alt="how to fill the green section" src="/assets/help_yellow.png">

        </div>
      </details>
    </div>

    <form [formGroup]="form" class="form">
      <div>
        <h3 class="title-section">Green Letters</h3>
        <div class="green">
          <input type="text" name="" [ngClass]="greenBoxActive[0] ? 'active':''" formControlName="greenPosition1"
            maxlength="1" (input)="onGreenBoxChange($event, 0)">
          <input type="text" name="" [ngClass]="greenBoxActive[1] ? 'active':''" formControlName="greenPosition2"
            maxlength="1" (input)="onGreenBoxChange($event, 1)">
          <input type="text" name="" [ngClass]="greenBoxActive[2] ? 'active':''" formControlName="greenPosition3"
            maxlength="1" (input)="onGreenBoxChange($event, 2)">
          <input type="text" name="" [ngClass]="greenBoxActive[3] ? 'active':''" formControlName="greenPosition4"
            maxlength="1" (input)="onGreenBoxChange($event, 3)">
          <input type="text" name="" [ngClass]="greenBoxActive[4] ? 'active':''" formControlName="greenPosition5"
            maxlength="1" (input)="onGreenBoxChange($event, 4)">
        </div>
      </div>

      <div>
        <h3 class="title-section">Grey Letters</h3>
        <div class="tips-section">
          <span>Type in any order. Duplicates are ok.</span>
        </div>
        <input class="grey" [ngClass]="greyBoxActive ? 'grey-active':''" type="text" name="" maxlength="21"
          formControlName="greyString" (input)="onGreyBoxChange($event)">
      </div>

      <div>
        <h3 class="title-section">Yellow Letters</h3>
        <div class="tips-section">
          <span>Type in any order. Duplicates are ok.</span>
        </div>
        <div class="yellow">
          <h4>P1</h4>
          <input type="text" name="" [ngClass]="yellowBoxActive[0] ? 'active':''" formControlName="yellowPosition1"
            (input)="onYellowBoxChange($event, 0)">
        </div>
        <div class="yellow">
          <h4>P2</h4>
          <input type="text" name="" [ngClass]="yellowBoxActive[1] ? 'active':''" formControlName="yellowPosition2"
            (input)="onYellowBoxChange($event, 1)">
        </div>
        <div class="yellow">
          <h4>P3</h4>
          <input type="text" name="" [ngClass]="yellowBoxActive[2] ? 'active':''" formControlName="yellowPosition3"
            (input)="onYellowBoxChange($event, 2)">
        </div>
        <div class="yellow">
          <h4>P4</h4>
          <input type="text" name="" [ngClass]="yellowBoxActive[3] ? 'active':''" formControlName="yellowPosition4"
            (input)="onYellowBoxChange($event, 3)">
        </div>
        <div class="yellow">
          <h4>P5</h4>
          <input type="text" name="" [ngClass]="yellowBoxActive[4] ? 'active':''" formControlName="yellowPosition5"
            (input)="onYellowBoxChange($event, 4)">
        </div>
      </div>
    </form>
    <div class="btn-group">
      <div class="button submit" (click)="onSubmit()">Submit</div>
      <div class="button reset" (click)="reset()">Reset</div>
    </div>

    <div class="result-words">
      <h3>Most likely words<sup> [1]</sup> {{ mostLikelyWords.length ? mostLikelyWords.length : '' }}</h3>
      <div *ngIf="mostLikelyWords.length > 0" class="tip">&#9432; click the word to see its meaning.</div>
      <div class="result-list">
        <div *ngFor="let word of mostLikelyWords;">
          <div *ngIf="word in mostLikelyWords"></div>
          <a target="_blank" href="{{'https://www.dictionary.com/browse/' + word}}">{{word}}</a>
        </div>
      </div>
    </div>

    <div class="result-words">
      <h3>All possible words<sup> [2]</sup> {{ filteredWords.length ? filteredWords.length : '' }}</h3>
      <div *ngIf="filteredWords.length > 0" class="tip">&#9432; Popular words are highlighted.</div>
      <div class="result-list">
        <div *ngFor="let word of filteredWords;">
          <a [ngClass]="(commonWords.includes(word) || mostLikelyWords.includes(word)) ? 'common':''" target="_blank"
            href="{{'https://www.dictionary.com/browse/' + word}}">{{word}}</a>
        </div>
      </div>
    </div>
    <a *ngIf="showToTopbutton" class="backTop" href="#top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="m19.707 9.293-7-7a1 1 0 0 0-1.414 0l-7 7A1 1 0 0 0 5 11h3v10a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V11h3a1 1 0 0 0 .707-1.707zM15 9a1 1 0 0 0-1 1v10h-4V10a1 1 0 0 0-1-1H7.414L12 4.414 16.586 9z"
          style="fill:#fff" data-name="Up" />
      </svg>
    </a>

    <div class="footer">
      <div class="footnotes">
        <div>[1] Most likely word list is sourced from common Wordle words and Google's 10k common word list.</div>
        <div>[2] All possible word list is from a dictionary of all English words.</div>
        <div>For feedback/bugs, email regileg at g m a i l</div>
        <div>GitHub: <a target="_blank"
            href="https://github.com/dvnlgls/wordle-solver">https://github.com/dvnlgls/wordle-solver</a></div>
      </div>
      <div class="copyright">&copy; 2024 Cedric Devin</div>
    </div>
  </div>
</div>