.page {
  background-color: #212024;
  color: #fff;
  min-height: 100vw;
}

.page-container {
  display: grid;
  margin: 0 auto;
  max-width: 600px;
  font-family: Inter, sans-serif;
}

.title-main {
  margin: 65px 0;
  outline: 0;
  border: 1px solid #166b05;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 1;
  width: 80%;
  max-width: 350px;
  justify-self: center;
  display: grid;
  padding-left: 20px;
}

.title-main:after {
  content: "";
  background-color: #25970e;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.title-main .hello {
  font-size: 16px;
  text-transform: capitalize;
  padding-top: 16px;
}

.title-main .wordle {
  font-size: 3em;
  font-weight: bold;
  line-height: 1;
}

.title-main .line {
  height: 1px;
  width: 135px;
  background-color: white;
  position: absolute;
  top: 69px;
  right: -6px;
  opacity: 0.6;
}

.title-main .line-end {
  height: 5px;
  width: 5px;
  background-color: white;
  position: absolute;
  top: 67px;
  right: 129px;
  opacity: 0.6;
}

.title-section {
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  letter-spacing: 0.03em;
}

.form {
  display: grid;
  row-gap: 45px;
  justify-self: center;
}

.green {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 50px);
  column-gap: 25px;
}

.green input[type="text"] {
  width: 50px;
  font-size: 2em;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  outline: none;
  margin-right: 10px;
  border: 1px solid transparent;
}

.green .active {
  background-color: #6aaa64;
  color: #fff;
}

.grey {
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  font-size: 1.5em;
  padding: 5px 10px;
  letter-spacing: 3px;
  width: 328px;
  border: 1px solid transparent;
}

.grey-active {
  background-color: #787c7e;
  color: #fff;
}

.yellow {
  display: grid;
  grid-template-columns: 50px 300px;
  margin-bottom: 15px;
}

.yellow .active {
  background-color: #d1b539;
  color: #fff;
}

.yellow input[type="text"] {
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  font-size: 1.5em;
  padding: 5px 10px;
  letter-spacing: 3px;
  border: 1px solid transparent;
}

.yellow h4 {
  margin: 0;
  font-size: 20px;
  align-self: center;
  font-family: Inter, sans-serif;
  letter-spacing: 5px;
}

.btn-group {
  display: grid;
  margin: 50px 0;
  justify-self: center;
  justify-items: center;
}

.submit {
  background-color: #6ef576;
  width: 250px;
}

.reset {
  background-color: #f5ccd3;
  width: 75px;
  margin-top: 40px;
}

.result-words {
  margin-bottom: 30px;
  justify-self: center;
  width: 80%;

  h3 {
    margin-bottom: 5px;
  }

  sup {
    font-size: 10px;
  }
}

.result-words .tip {
  font-style: italic;
  opacity: 0.8;
  color: #ffda4a;
  margin-bottom: 20px;


}

.result-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  font-size: 19px;
  list-style: square;
  line-height: 45px;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 30px;

  a {
    text-decoration: underline dotted;
    color: #fff;
    text-underline-offset: 6px;
    padding: 3px 5px;
    border-radius: 3px;
  }

  .common {
    background-color: green;
  }
}

.tips-main {
  display: grid;
  color: #feedda;
  border-left: 2px solid #fff2ac;
  width: 300px;
  justify-self: center;
  row-gap: 5px;
  margin-bottom: 35px;
  padding-left: 15px;
  font-family: monospace;
}

.tips-section {
  font-style: italic;
  opacity: 0.8;
  margin-bottom: 20px;
}

.button {
  align-items: center;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  line-height: 24px;

  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:hover {
  outline: 0;
}

.footer {
  margin-bottom: 100px;
  margin-top: 50px;
  opacity: 0.8;
  max-width: 80%;
  justify-self: center;

  a {
    color: inherit;
  }
}

.footnotes {
  margin-bottom: 25px;

  div {
    margin-bottom: 20px;
    line-height: 20px;
  }
}

.backTop{
  text-decoration: none;
  color: #fff;
  background: #74c1f9;
  padding: 9px;
  border-radius: 5px;
  opacity: .7;
  position: fixed;
  bottom: 22px;
  right: 20px;
  font-size: 33px;
  width: 30px;
  height: 30px;
  text-align: center;
}