.page {
  background-color: #212024;
  color: #fff;
  min-height: 100vw;
}

.page-container {
  display: grid;
  margin: 0 auto;
  max-width: 600px;
  font-family: Inter,sans-serif;
}

.title {
  font-size: 3em;
  text-transform: uppercase;
  margin: 65px 0;
  font-weight: bold;
  border-bottom: 1px solid #6ef576;
  text-align: center;
}

.title-section {
	margin: 0;
	padding: 10px 0;
	font-size: 20px;
	letter-spacing: 0.03em;
}

.form{
  display: grid;
  row-gap: 45px;
  justify-self: center;
}

.green {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 50px);
  column-gap: 25px;
}

.green input[type="text"] {
  width: 50px;
  font-size: 2em;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  outline: none;
  margin-right: 10px;
  border: 1px solid transparent;
}

.green .active {
  background-color: #6aaa64;
  color: #fff;
}

.grey {
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  font-size: 1.5em;
  padding: 5px 10px;
  letter-spacing: 3px;
  width: 328px;
  border: 1px solid transparent;
}

.grey-active {
  background-color: #787c7e;
  color: #fff;
}

.yellow {
  display: grid;
  grid-template-columns: 50px 300px;
  margin-bottom: 15px;
}

.yellow .active {
  background-color: #d1b539;
  color: #fff;
}

.yellow input[type="text"] {
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  font-size: 1.5em;
  padding: 5px 10px;
  letter-spacing: 3px;
  border: 1px solid transparent;
}

.yellow h4 {
  margin: 0;
  font-size: 20px;
  align-self: center;
  font-family: Inter,sans-serif;
  letter-spacing: 5px;
}

.btn-group {
  display: grid;
  margin: 50px 0;
  justify-self: center;
  justify-items: center;
}

.submit {
  background-color: #6ef576;
  width: 250px;
}

.reset {
  background-color: #f5ccd3;
  width: 75px;
  margin-top: 40px;
}

.possible-words {
  margin-left: 100px;
}

.possible-words ul li{
  margin: 9px 0;
  font-size: 20px;
}

.tips-main {
  text-align: center;
  display: grid;
  color: #feedda;
  border: 1px solid #fff2ac;
  width: 300px;
  justify-self: center;
  border-radius: 3px;
  padding: 13px 10px;
  row-gap: 5px;
  margin-bottom: 35px;
}

.tips-section {
	font-style: italic;
	opacity: 0.8;
	margin-bottom: 20px;
}

.button {
  align-items: center;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}