<div class="page">
  <div class="page-container">
    <div class="title">Hello Wordle!</div>

    <div class="tips-main">
      <span>&#9432; Best word to begin per MIT: <b>SALET</b></span>
      <span>Other choices: raise, pluto, adieu, ouija</span>
    </div>
    <form [formGroup]="form" class="form">
      <div>
        <h3 class="title-section">Exactly in position (Green)</h3>
        <div class="green">
          <input type="text" name="" [ngClass]="greenBoxActive[0] ? 'active':''" formControlName="greenPosition1"
            maxlength="1" (input)="onGreenBoxChange($event, 0)">
          <input type="text" name="" [ngClass]="greenBoxActive[1] ? 'active':''" formControlName="greenPosition2"
            maxlength="1" (input)="onGreenBoxChange($event, 1)">
          <input type="text" name="" [ngClass]="greenBoxActive[2] ? 'active':''" formControlName="greenPosition3"
            maxlength="1" (input)="onGreenBoxChange($event, 2)">
          <input type="text" name="" [ngClass]="greenBoxActive[3] ? 'active':''" formControlName="greenPosition4"
            maxlength="1" (input)="onGreenBoxChange($event, 3)">
          <input type="text" name="" [ngClass]="greenBoxActive[4] ? 'active':''" formControlName="greenPosition5"
            maxlength="1" (input)="onGreenBoxChange($event, 4)">
        </div>
      </div>

      <div>
        <h3 class="title-section">Letters to exclude (Grey)</h3>
        <div class="tips-section">
          <span>Type in any order. Without space</span>
        </div>
        <input class="grey" [ngClass]="greyBoxActive ? 'grey-active':''" type="text" name="" maxlength="21"
          formControlName="greyString" (input)="onGreyBoxChange($event)">
      </div>

      <div>
        <h3 class="title-section">Letters not in position (Yellow)</h3>
        <div class="tips-section">
          <span>Type in any order. Without space</span>
        </div>
        <div class="yellow">
          <h4>P1</h4>
          <input type="text" name="" [ngClass]="yellowBoxActive[0] ? 'active':''" formControlName="yellowPosition1"
            (input)="onYellowBoxChange($event, 0)">
        </div>
        <div class="yellow">
          <h4>P2</h4>
          <input type="text" name="" [ngClass]="yellowBoxActive[1] ? 'active':''" formControlName="yellowPosition2"
            (input)="onYellowBoxChange($event, 1)">
        </div>
        <div class="yellow">
          <h4>P3</h4>
          <input type="text" name="" [ngClass]="yellowBoxActive[2] ? 'active':''" formControlName="yellowPosition3"
            (input)="onYellowBoxChange($event, 2)">
        </div>
        <div class="yellow">
          <h4>P4</h4>
          <input type="text" name="" [ngClass]="yellowBoxActive[3] ? 'active':''" formControlName="yellowPosition4"
            (input)="onYellowBoxChange($event, 3)">
        </div>
        <div class="yellow">
          <h4>P5</h4>
          <input type="text" name="" [ngClass]="yellowBoxActive[4] ? 'active':''" formControlName="yellowPosition5"
            (input)="onYellowBoxChange($event, 4)">
        </div>
      </div>
    </form>
    <div class="btn-group">
      <div class="button submit" (click)="onSubmit()">Submit</div>
      <div class="button reset" (click)="reset()">Reset</div>
    </div>

    <div class="possible-words">
      <h3>Possible words: {{ filteredWords.length ? filteredWords.length : '' }}</h3>
      <ul>
        <li *ngFor="let word of filteredWords;">{{word}}</li>
      </ul>
    </div>
  </div>
</div>